html {
    scroll-behavior: smooth;
}
.wrapper {
    min-height: 55vh;
}
a {
    color: inherit;
}
a:hover {
    cursor: pointer;
}
.banner-item_info a {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #E74C3C;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #E74C3C transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
.checboxs {
    overflow: scroll;
}
.box-products h5 {
    margin-top: 25px;
}
.categories_links {
    padding: 0;
}
.categories_links > ul {
    padding: 0;
    margin-bottom: 0;
}
.categories_links a {
    padding: 10px 0;
}
.subcategory-li {
    position: relative;
    list-style: none;
    min-height: 45px;
    padding: 0 20px;
}
.subcategory-ul {
    display: none;
    position: absolute;
    top: 0;
    left: 255px;
    z-index: 10;
    background: white;
    width: 255px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 0px;
    list-style: none;
}
.subcategory-li:hover > .subcategory-ul {
    display: block;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    
}

