.about-us-title{
	color: #383838;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-family: "Roboto-Bold";
}

.about-content{
	font-size: 16px;

}
.about-content img{
 float: right;
 width: 150px;
}

.about-content-list{
	margin:0;
	padding: 0;
}
.about-content-list h2{
font-size: 18px;
font-family: "Roboto-Black";
}

.about-content-list li{
list-style: none;
display: flex;
}

.about-content-list li:before{
content:url('../../img/check.svg');
padding-right: 10px;
}

.about-content_requisites{
	margin: 0;
	padding: 0;
	margin-bottom: 40px;	
}

.about-content_requisites li{
list-style: none;
display: flex;	
}

.about-content_requisites li p{
	margin: 0;
	margin-bottom: 5px;
}

.about-content_requisites li > p > b{
font-weight: normal;
font-family: "Roboto-Medium";
padding-right: 7px;
}

.about-content_requisites li > a {
color: var(--main-color);
}

/*mobile*/
@media screen and (max-width: 768px) {
.about-content img{
	width: 110px;
}
}

/*delivery*/
.delivery-title{
	color: #383838;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-family: "Roboto-Bold";
}
.delivery-subtitle{
		color: #383838;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 15px;
	font-family: "Roboto-Bold";
}
.delivery-info{
	font-size: 15px;
	color: #383838;
}

.delivery-tizers_block{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.delivery-tizers_block .item{
display: flex;
flex-direction: column;
justify-content: center;
border: 1px solid #D3D3D3;
border-radius: 5px;
width: 100%;
align-items: center;
padding: 30px 5px;
margin-right: 10px;
transition: all .3s ease-out;
cursor: pointer;
}
.delivery-tizers_block .item:hover {
-webkit-box-shadow: 0px 0px 11px 0px rgba(211,211,211,0.68);
-moz-box-shadow: 0px 0px 11px 0px rgba(211,211,211,0.68);
box-shadow: 0px 0px 11px 0px rgba(211,211,211,0.68);
}

.delivery-tizers_block .item:hover .img > img{
  padding-bottom: 0px;
}
.delivery-tizers_block .item > .img > img{
width: 65px;
height: 65px;

 padding-bottom: 5px;
 transition: all .5s ease-out;
}
.delivery-tizers_block .item > .title{
font-size: 13px;
padding-left: 10px;
line-height: 20px;
text-align: center;
}

.delivery-list{
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
.delivery-list li {
	margin-bottom: 10px;
}
.delivery-list li > p{
 font-size: 15px;
 margin: 0;
}

.delivery{
	margin-bottom: 40px;
}

.delivery-free_block{
	display: flex;
	justify-content: space-between;
}

.delivery-free_block .item{
	display: flex;
  padding: 10px 20px;
 }
.delivery-free_block .item:first-child{
	border-right: 1px solid var(--main-color);
}
.delivery-free_block .item img{
 width: 55px;
 height: 55px;
}
.delivery-free_block .item .title{
	padding-left: 20px;
	line-height: 20px;
}
.delivery-free_block .item .title h6{
font-family: "Roboto-Medium";
margin: 0;
margin-bottom: 5px;
font-size: 16px;
}

.delivery-free_block > .item > .title > span{
	font-size: 13px;
}

/*mobile*/
@media screen and (max-width: 768px) {
.delivery-tizers_block{
	flex-wrap: wrap;
}
.delivery-tizers_block .item{
	width: 49%;
    margin: 0;
    margin-top: 5px;
}
.delivery-tizers_block .item:nth-child(2){
padding: 30px 5px 50px;
}
.delivery-tizers_block .item:nth-child(4){
padding: 30px 5px 50px;
}
.delivery-free_block{
flex-wrap: wrap;
border-left: 1px solid var(--main-color);
}
.delivery-free_block .item:first-child{
border: none;
}
}

.magazine-contact_block{
	margin-bottom: 50px;
}

.magazine-contact_block .item{
    display: flex;
    margin-bottom: 20px;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
    border: 1px solid #BDBDBD;
    border-radius: 7px;
    background-color: #fff;
    transition: all .3s ease-out;
}

.magazine-contact_block .item:hover{
-webkit-box-shadow: 0px 0px 20px 0px rgba(211,211,211,0.68);
-moz-box-shadow: 0px 0px 20px 0px rgba(211,211,211,0.68);
box-shadow: 0px 0px 20px 0px rgba(211,211,211,0.68);
}

.magazine-contact_block .item > .item-card{
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
}

.magazine-contact_block .item > .item-info{
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
    padding-left: 20px;
}

.magazine-contact_block .item > .item-info > .title{
	color: #383838;
	font-size: 20px;
   font-family: "Roboto-Bold";
    font-family: "Roboto-Medium";
   padding-left: 10px;
   margin-bottom: 15px;
}

.magazine-contact_block .item > .item-info > .contact{
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;

}

.magazine-contact_block .item > .item-info > .contact img{
width: 20px;
height: 20px;
margin-right: 10px;
}

.magazine-contact_block .item > .item-info > .contact > .contact-info > h3{
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Roboto-Medium";
  color: #7A7A7A;
}

.magazine-contact_block .item > .item-info > .contact > .contact-info > p{
color: #32414a;
font-size: 16px;
    font-size: 14px;
    margin: 0;
    line-height: 1.42857143;
}

.magazine-contact_block .item > .item-info > .contact > .contact-info > a{
color: #4d4d4d;
 font-size: 14px;
}

/*mobile*/
@media screen and (max-width: 768px) {
.magazine-contact_block .item{
    flex-direction: column;
}

.magazine-contact_block .item > .item-card{
	height: 100px;
    width: 100%;
}
}

.city-map{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.contact-icon-items{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.contact-icon-items .item{
display: flex;
align-items: center;
justify-content: center;
}
.contact-icon-items .item >.img{
	display: flex;
	justify-content: center;
padding: 13px;
	align-items: center;
	border-radius: 50%;
	border: 2px solid var(--main-color);
}
.contact-icon-items .item >.img > img{
width: 20px;
height: 20px;
}

.contact-icon-items >.item > .title{
	padding-left: 15px;
}
.contact-icon-items >.item > .title >  h3{
margin:0;
font-size: 16px;
margin-bottom: 4px;	
   font-family: "Roboto-Medium";
}

.contact-icon-items >.item > .title >  p{
margin: 0;
    color: #4d4d4d
}

.contact-icon-items >.item > .title >  a{
margin: 0;
color: #4d4d4d
}

.contact-city_block .item{
flex-direction: column;
padding: 10px 15px;
border: none;
border-left: 2px solid var(--main-color);
-webkit-box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
-moz-box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
}

.contact-city_block  .item > .item-info{
flex-direction: row;
    padding: 10px 0;
}

.contact-city_block .delivery-subtitle{
margin: 10px;
}

.content_requisites{
	 box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
    padding: 20px 25px;
    border-radius: 10px;
    border-top: 5px solid #2F80ED;
}
   
/*mobile*/
@media screen and (max-width: 768px) {
   .contact-icon-items{
   	flex-wrap: wrap;
   	align-items: center;
   	justify-content: flex-start;
   }
   .contact-icon-items .item{
   	margin-bottom: 10px;
   }
}

.how_order{
	margin-bottom: 50px;	
}
.how_order-list{
	margin: 0;
	padding: 0;
}
.how_order-list li{
list-style: none;
position: relative;
padding-left: 20px;
}

.how_order-list li:before{
content: '';
position: absolute;
left: 0;
top: 5px;
height: 10px;
width: 10px;
border-radius: 50%;
border:2px solid var(--main-color);
}

.how_order-link{
	color: var(--main-color);
	text-decoration: underline;
}