.about-info_item{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0px;
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.about-info_item img{
  width: 80px;
  height:80px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.about-info_item h1{
font-style: normal;
font-family: "Roboto-Bold";
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

}

.about-info_item p{
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 16px;
text-align: center;
padding: 0 40px;
}

/*mobile*/
@media screen and (max-width: 768px) {
.about-info_item{
	margin-bottom: 5px;
	margin-top: 5px;
}

.col-md-4:first-child .about-info_item{
	margin-top: 50px;
}

.col-md-4:last-child .about-info_item{
	margin-bottom: 40px;
}
}

.about-info h1{
font-family: "Roboto-Bold";
font-style: normal;
font-weight: bold;
font-size: 14px;
margin: 0;
margin-top: 15px;
margin-bottom: 6px;
line-height: 14px;
text-align: justify;
color: #828282;
}

.about-info p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: justify;

color: #828282;
}


/*instagram*/
.instagram-link{
	display: flex;
	align-items: baseline;
	margin: 20px 0;
}

.instagram-link h1{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.instagram-link button{
font-family: "Roboto-Medium";
border: 1px solid var(--main-color);
background-color: #fff;
padding: 10px 15px;
margin-left: 10px;
border-radius: 5px;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #000000;
transition: background-color .3s ease;
}

.instagram-link button:hover{
 background-color: var( --main-hover-color);
 color: #fff;
}

.container-full{
display: flex;
}
.instagram-img{
	width: 16.6666666667%;
	height: 180px;

}

.instagram-img img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/*mobile*/
@media screen and (max-width: 768px) {
	.container-full{
		flex-wrap: wrap;
	}
	.instagram-img{
		width: 25%;
		height: 100px;
	}
}

.services-block{
	background: url(../../img/fon1.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center left;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    	align-items: center;
    max-height: 250px;
    min-height: 250px;
    border-radius: 5px;
}

.services-block.first{
justify-content: flex-end;
}

.services-block.second{
background: url(../../img/fon2.png);
}

.services-block .content{
  width: 60%;
}

.services-block .content h1{
 color: #fff;
 margin: 0;
 padding: 0;
 font-size: 28px;
}

.services-block .content p{
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
}

.services-block .content .btn{
	background: #2F80ED;
	border-radius: 6px;
	padding: 6px 30px;
	color: #fff; 
	/*width: inherit;*/
}

.services-block.first .content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
 align-items: flex-end;   	
}

.services-block.first .content p{
	text-align: right;
}


/*mobile*/
@media screen and (max-width: 768px) {
	.services-block{
		  max-height: 300px;
    min-height: 250px;
	}
	.services-block .content{
  width: 100%;
}

.services-block{
	margin-bottom: 20px;
}

}

@media screen and (max-width: 320px) {
.logo a > img{
	width: 70px;
}
.btn-fast_order{
	font-size: 12px;
	padding: 9px 3px;
}

}


/*mobile*/
@media screen and (max-width: 768px) {
	.services-block.first .content{
	align-items: flex-start;
	}	
	
	.services-block.first .content p{
	    text-align: left;
	}
}
.nidge {
font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
   margin-top: 15px;
	color:#828282;
}
.nidge a{
	font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-top: 15px;
}