.box-wrap{
	position: relative;
}

.box-products{
	position: absolute;
    z-index: 20;
    transition: all .3s ease-out;
    transform: scaleX(0);
    transform: scaleY(0);
     transform-origin:top;
   left: -250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 10px;	
    border-radius: 5px;
    padding: 10px;
        box-shadow: 0 3px 3px rgba(0,0,0,.15);
            border: 1px solid #bbb;
                min-width: 100%;
}

.box-products-visible{
 transform: scaleX(1);
 transform: scaleY(1);
}
.close_box-product {
	position: absolute;
	right: 10px;
	top: 10px;
}
.close_box-product img{
	width: 15px;
	height: 15px;
}

.popular-product__btn-number button img{
	width: 15px;
	height: 15px;

}

.box-products h5{
text-align: left;
   
    line-height: 1.42857143;
    font-size: 16px;
    color: #4d4d4d;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding-top: 20px;*/
}

.box-products h5 b:after{
content: '₸';
padding-left: 1px;
}

.box-products-list{
	max-height: 260px;
	overflow-y: auto;
}

.box-products-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.box-products-list::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.box-products-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#8E8E8E;
}



.box-products-list li{
list-style: none;
display: flex;
border-bottom: 1px solid #d5f4ff;
padding-bottom: 15px;
margin-bottom: 10px;
}

.box-products-list li >.img{
width: 20%;
height: 60px;
}
.box-products-list li >.img > img{
width: 90%;
height: 90%;
object-fit: contain;
}

.box-products-list-info{
	display: flex;
	flex-direction: column;
	position: relative;
	width:100%;
}

.box-products-list-info a{
color: #292929;
font-size: 14px;
}

.box-products-list-info a:nth-child(2){
    font-size: 12px;
    color: #a4a4a4;
}

.box-products-list-info .popular-product__btn-number{
	display: flex;
	align-items: baseline;
}
.box-products-list-info .popular-product__btn-number span{
font-size: 12px;
    color: #292929;	
    padding-right: 6px;
}
.box-products-list-info .popular-product__btn-number > input[type="button"]{
	height: 20px;
	font-size: 12px;
	width: 20px;
}
.box-products-list-info .popular-product__btn-number > button{
background-color: transparent;
padding-left: 15px;
border: none;
}

.box-products-list-price{
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 16px;
	font-family: "Roboto-Bold";
}
.box-products-list-price span:after{
content: '₸';
padding-left: 5px;
font-family: "Roboto-Bold";
font-weight: bold;
}

.box-products button{
	background-color: transparent;
	border: none;
	font-size: 	14px;
	color: var(--main-color);
}


/*mobile*/
@media screen and (max-width: 768px) {
.box-products h5{
margin-top:  25px;
}
.box-products{
	    left: -270px;
	    margin-right: 20px;
}
}
