.whatsap-wrap_btn {
 position: fixed;
 top: 90%;
 left: 87%;
 transform: translate(-50%, -50%);
 z-index: 20;
cursor: pointer;
}

.whatsapp_btn{
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 60px;
 width: 280px;
 padding: 18px 15px;

}
.whatsapp-btn_pulse {
 display: flex;
 justify-content: center;
 align-items: center;
margin:0;

}
.whatsapp-btn_pulse span{
font-size: 18px;
font-family: "Roboto-Bold";
line-height: 21px;
text-align: right;
color: #fff;
 text-align: center;
}

.whatsapp-btn_pulse img{
 padding-right: 10px;
}
.whatsapp_btn {
 background: var(--main-color);
 position: relative;
 transition: .5s;
}


.whatsapp_btn:hover {
 background: var(--main-color);
}
.whatsapp_btn::before,
.whatsapp_btn::after {
 content: '';
 position: absolute;
 z-index: 9;
 border: 1px solid var(--main-color);
 left: -5px;
 right: -5px;
 top: -5px;
 bottom: -5px;
 border-radius: 60px;
 animation: whatsapp_btn 1.8s linear infinite;
 opacity: 0;
}
.whatsapp_btn::after {
 animation-delay: 1s;
}


@keyframes whatsapp_btn {
 0% {
  transform: scale(1);
  opacity: .5;
 }
 50% {
  opacity: .3;
 }
 100% {
  transform: scale(1.4);
  opacity: 0;
 }
}

@media screen and (max-width: 768px){
.whatsapp-btn_pulse span{
	display: none;
}
.whatsapp_btn{
	width: 100%;
}
.whatsapp-btn_pulse img{
	padding: 0;
}	
.whatsapp_btn{
	padding: 20px;
}
}


.first_nav-row{
  display: flex;
  flex-wrap: nowrap !important;
}

.mobile-menu_btn img{
  width: 27px;
  height: 27px;
}

.mobile-menu_btn {
	margin-right: 10px;
}

.last-nav_contact-btn{
	background:transparent;
	border: none;
	color: #fff;
	text-decoration: underline;
}

.mobile-nav{
	
}
@media screen and (max-width: 768px){
.categories-slide .col-md-3{
order:2 ;
}

.categories-slide .col-md-3{
order:1;
}

}

.whatsapp_btn:hover{
text-decoration: none;
}