.btn-fast_order{
position: relative;
background-size: 700% 100%;
transition: all .4s ease-in-out;
background-image: linear-gradient(to right, #3AC34F, #3cba92, #30dd8a, #3AC34F #3AC34F, #3cba92, #30dd8a, #3AC34F);
box-shadow:0px 0px 6px 0px rgba(211,211,211,0.68);
background-image: none;
animation:effect 6s linear infinite;
animation-delay: 6s;
background-color: #3AC34F;
color: #fff;
background: #2F80ED;
}

.btn-fast_order:hover{
 background: #1768D5;
}

.btn-fast_order:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background:  linear-gradient(45deg, #2F80ED, #ff7300, #fffb00, #F2C94C, #3AC34F, #E3E3E3, #7a00ff, #F2C94C, #2F80ED);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingo 15s linear infinite;
    opacity: 0;
    animation-delay: 6s;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.btn-fast_order:hover{
 animation-play-state: paused;
}

.btn-fast_order:after {
    z-index: 2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
}


    @keyframes glowingo {
    0% { background-position: 0 0;
 opacity: 1;
     }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; 
 opacity: 0;
    }
}





.btn-box:hover img{
    transform: translateX(0px);
    animation: btnBox .6s linear 2;
}

   @keyframes btnBox{
    0%{
        transform: translateX(0px);
    }
        50%{
        transform: translateX(-10px);
    }
  
   }
 .btn-box{
  position: relative;
  overflow: hidden;
 }
   .btn-box::before{
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 10px;
    height: 100%;
    background-color: rgba( 255,255,255, 0.6);
    transform: translateX(-8em) skewX(-45deg);
    animation-delay: 5s;
    animation: m-light 6s ease-out infinite;
  }

   .btn-box:hover:before{
  animation-play-state: paused;
  animation: none;
   }

  @keyframes m-light{
    0%, 20%, 50%, 80%, 60% ,85%{padding: 20px 40px; transform: translateX(-9em) skewX(-45deg);}
  100% { transform: translateX(16em) skewX(-45deg);
 box-shadow:0px 0px 6px 0px rgba(211,211,211,0.68);
  }
  }