.categories{
	margin-top: 40px;
  margin-bottom: 40px;
}

.categories h1{
font-family: "Roboto-Black";
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 21px;
}
.categories_links{
background: #FFFFFF;
border: 1px solid #E5E5E5;
border-radius: 5px;
padding: 0px 10px;
}

.categories_links a{
list-style: none;
border-bottom: 1px solid #E5E5E5;
padding: 15px 0;
	width:100%;
	display: block;
transition: all .3s linear;
position: relative;
}

.categories_links a:hover{
border-color: var(--main-color);
}

.categories_links a:last-child{
border-bottom: none;
}


.categories_links a:after{
  content: url('../../img/arr-categor.svg');
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.categories_links a:last-child:after{

}

.categories_links a:hover:after{
  content: url('../../img/arr-categor_green.svg');
}

.categories_links a > p{
font-family: "Roboto-Medium";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;
text-transform: uppercase;
color: #000000;
	margin:0;
}

.categories_links a:hover{
text-decoration: none;
}

/*banner*/
.banner{
    padding-top: 30px;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.owl-carousel-banner{
	width: 100%;
	height: 100%;
	position: relative;

}
.banner-item{
	width: 100%;
	max-height: 100%;
    background: url("../../img/bg_banner.svg");
  
    background-repeat: no-repeat;
    background-position: center left;
    display: flex;
    justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        height: 420px;
}

.banner-item_img {
  width: 55%;
  height: 100%;
}
.banner-item_img img{
width: 100%;
height: 100%;
object-fit: contain;
}
.banner-item_info{
	width: 45%;
	padding: 10px;
}

.banner-item_info h1{
font-family: "Roboto-Bold";
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
text-transform: uppercase;
color: #FFFFFF;
margin: 0;
}

.banner-item_info button{
	border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
padding: 10px 15px;
background-color: var(--main-color);
color: #fff;
margin-top: 20px;
}

.owl-carousel-banner .owl-nav{
	position: absolute;
	bottom: 40px;
	right: 30px;

}

.owl-carousel-banner  .owl-nav .owl-prev,
.owl-carousel-banner  .owl-nav .owl-next{
    position: relative;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    width: 30px;
    height: 30px;
    color: transparent !important;
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.3) !important;
    cursor: pointer;
     border:1px solid transparent;
     transition: all .3s linear;
     outline:0;
 }

.owl-carousel-banner  .owl-nav .owl-next:after{
  content: url('../../img/arr-left.svg');
  position: absolute;
  top: 20%;
  left: 40%;
 }

.owl-carousel-banner  .owl-nav .owl-prev:after{
  content: url('../../img/arr-left.svg');
  position: absolute;
  top: 0%;
  left: 40%;
  transform: rotate(180deg);
}

.owl-carousel-banner  .owl-nav .owl-prev:hover,
.owl-carousel-banner  .owl-nav .owl-next:hover{
  background:var(--main-color) !important; 
  border:1px solid rgba(255, 255, 255, 0.3);
}

/*mobile*/
@media screen and (max-width: 768px) {
	.banner-item{
		flex-direction: column;
		height: 100%;
	}
	.banner-item_info,
	.banner-item_img{
		width: 100%;
	}
}

.banner-item_img img{
display: none;
}