.custom-checkbox > [type="checkbox"],
    .custom-checkbox > label{
        margin-bottom:0px !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked),
    .custom-checkbox > [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;

        overflow: none;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label,
    .custom-checkbox > [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 22px;
        cursor: pointer;

    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
    .custom-checkbox > [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left:0; 
        top: 50%;
        margin-top:-9px;
        width: 17px; 
        height: 17px;
        border: 1px solid #ddd;
        background: #ffffff;

        border-radius: 2px;
    }
    .custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
    .custom-checkbox > [type="checkbox"]:checked + label:after {
        font: normal normal normal 12px/1 'Glyphicons Halflings';
        content: url(../../img/checbox.svg);
        position: absolute;
        top: 47%;
        margin-top:-7px;
        left: 0px;
        color: #94C947;
        padding: 2px 3px;
        border-radius: 2px;
        transition: all .2s;
  background-color: var(--main-color);

    }

    .custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    .custom-checkbox > [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }

    .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
    .custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
        content: '\2212';
        left: 2px;
        opacity: 1;
        transform: scale(1);

    }

    .custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        background-color: #eeeeee;
        border-color: #eeeeee;
        cursor: not-allowed;
        opacity: 1;
        color: #dadada;

    }
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
      color: #dadada; cursor: not-allowed;
    }
    .custom-checkbox > [type="checkbox"]:disabled + label {
      color: #aaa; cursor: not-allowed;
    }
    .custom-checkbox > [type="checkbox"]:checked:focus + label:before,
    .custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
        border: 1px solid #66afe9;
       /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
        
    }
    .custom-checkbox > label:hover:before {
        border: 1px solid #88D2FF !important;
    }
    .custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
    .custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
        border: 1px solid #E4E4E4 !important;
    }

/*fliter range slider*/

.range-slider_price .irs--flat .irs-from:before,
.range-slider_price .irs--flat .irs-to:before,
.range-slider_price .irs--flat .irs-single:before {
    position: absolute;
    display: block;
    content: "₸";
    right: -5px;
}

.range-slider_length .irs--flat .irs-from:before,
.range-slider_length .irs--flat .irs-to:before,
.range-slider_length .irs--flat .irs-single:before {
    position: absolute;
    display: block;
    content: "мм";
    right: -20px;
}


.range-slider_length .irs--flat .irs-bar,
.range-slider_price .irs--flat .irs-bar {
     background-color: var(--main-color);
}

.range-slider_length .irs--flat .irs-handle,
.range-slider_price .irs--flat .irs-handle{
      background-color: var(--main-color);
}

/*text*/
.filter h1{
font-family: "Roboto-Black";
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 21px;
color: #000000;
margin: 0;
margin-bottom: 20px;
margin-top: 30px;
}

.filter h6{
font-family: "Roboto-Medium";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #000000;
margin: 0;
/*margin-bottom: 10px;*/
}

.range-slider_price{
    margin-bottom: 50px;
}

.range-slider_length{
    margin-bottom: 50px;
}

.fliter_show-more{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 10px 0 10px;
    font-style: normal;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #000000;
}

.custom-checkbox{
    margin-top: 3px;
}

.checboxs{
    margin-top: 10px;
    transition: all .5s ease-out;
    height: 110px;
    overflow: hidden;
}
.checboxs-active{
  height: auto;
}
/*mobile*/
@media screen and (max-width: 768px) {
    .fliter-title{
        padding: 10px;
        border: 1px solid var(--main-color);
        border-radius: 5px;
        position: relative;
        display: block;
        cursor: pointer;
    }
    .fliter-title:after{
        content: url('../../img/arr-categor_green.svg');
        position: absolute;
        right: 7%;
        transform: rotate(90deg);
    }

    h1.fliter-title--active{
      color: #fff;
      background-color: var(--main-color);
    }
       .fliter-title--active:after{
       content: url('../../img/arr-categor.svg');
       transform: rotate(-90deg);
        right: 5%;
       }

       .filter-nav_wrap{
        display: none;
       }
       .filter-nav_wrap--active{
        display: block;
        animation:filterNav-animate  .5s linear 1;
       }
}


@keyframes  filterNav-animate{
 0% {
 transform: scaleX(0);
 }
 50% {
transform: scaleX(.5);
 }
 100% {
transform: scaleX(1);
 }
}


/*view*/

.popular-products-nav{
    display: flex;
    align-items: baseline;
    margin:15px 0;
    justify-content: space-between;
}
.popular-products-nav a{
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 15px;
color: #000000;
}
.popular-products-sort{
    margin-left: auto;
    position: relative;

}

.popular-products-sort button{
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 15px;
color: #4F4F4F;
background-color: transparent;
border-radius: 5px;
padding: 10px;
border: 1px solid transparent;
}

.popular-products-sort button:hover{
border-color: var(--main-color);
}

.popular-products-sort button >span:after{
content: url('../../img/sort-arr.svg');
padding-left: 10px;
 
}

.popular-products-sort-list{
    position: absolute;
  z-index: 15;
    background-color: #fff;
    display: flex;
    flex-direction: column;
      transform-origin:right;
    margin-top: 4px;
  border-radius: 5px;
   max-height: 150px;
   overflow-y: auto;
    box-shadow: 0 3px 3px rgba(0,0,0,.15);
        border: 1px solid #bbb;
    min-width: 100%;
    transform: scaleX(0);
    transition: all .3s linear;
}
.popular-products-sort-list-visible{
transform: scaleX(1);
}
.popular-products-sort-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.popular-products-sort-list::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.popular-products-sort-list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:#8E8E8E;
}



.popular-products-sort-list li{
 list-style: none;
 width: 100%;
 transition: all .3s linear;
  padding: 5px;
}

.popular-products-sort-list  li:hover{
background-color:  var(--main-color);

}
.popular-products-sort-list  li a{
    transition: all .3s ease;
    width: 100%;

}
.popular-products-sort-list  li:hover a{
color: #fff;
text-decoration: none;
}

.popular-products-sort_view button{
background-color: transparent;
border: none;
}

.pagination{
display: flex;
justify-content: flex-end;
margin: 10px 0 20px;
}
.pagination-links{
    display: flex;
}

.pagination-links a{
  color: #000;
  padding: 10px;
  margin-right: 5px;
  line-height: 12px;
  transition: all .3s ease;
  border: 1px solid transparent;
  border-radius: 5px;
}

.pagination-links a:last-child{
 margin-right: 0px;
}

.pagination-links .active{
border-color:  var(--main-color);
}
.pagination-links a:hover{
text-decoration: none;
color: var(--main-color);
}
