@font-face{
	font-family: "Roboto";
    src: url("../../font/Roboto-Regular.ttf");
}

@font-face{
	font-family: "Roboto-Bold";
    src: url("../../font/Roboto-Bold.ttf");
}

@font-face{
	font-family: "Roboto-Black";
    src: url("../../font/Roboto-Black.ttf");
}

@font-face{
	font-family: "Roboto-Medium";
    src: url("../../font/Roboto-Medium.ttf");
}
