footer{
	background: #F2F2F2;
	padding-top: 40px;
    padding-bottom: 80px;
}

.footer-about{
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
text-align: justify;
color: #828282;
margin-top: 10px;

}

.footer-about p{
margin-top: 10px;
}
.footer-nav{
	display: flex;
	justify-content: space-between;
}


.footer-links{
	display: flex;
	flex-direction: column;	
}
.footer-links a{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #333333;
margin-top: 15px;
}

.footer-magazine h1{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.footer-magazine-wrap{
	display: flex;
	justify-content: space-between;
}

.footer-magazine-col h2{
  font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #333333;
margin-top: 10px;
}


.footer-magazine-col p{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
margin: 0;
color: #333333;
}

.footer-contact{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.footer-contact h1{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.footer-contact a{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-decoration-line: underline;
color: #4F4F4F;
margin-bottom: 30px;
}

.footer-contact h2{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
margin-bottom: 30px;
}

.footer-contact h6{
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
color: #000000;
}

/*mobile*/
@media screen and (max-width: 768px) {
	.footer-magazine h1:first-child{
		margin: 0;
		margin-top: 40px;
	}
	.footer-contact{
      margin-top: 40px;
      align-items: center;
	}
	.footer-contact h2{
		text-align: center;
	}
}

.footer-magazine{
display:none;
}

.footer-about img{
	width: 150px;
}