.form-order{
	margin-bottom: 20px;
	margin-top: 40px;
	padding: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;	
}

.form-title{
	font-size: 22px;
    font-weight: 600;
   color: #4d4d4d; 

}

.form-order form{
	display: flex;
    flex-direction: column;
}

.form-order form > label{
margin: 0;
 margin-top: 10px;
  font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 5px;
    color: #000000; 

}

.form-order form > input{
background: #F2F2F2;
border: 1px solid #E0E0E0;
padding: 8px;
border-radius: 5px;
margin-bottom: 10px;
}

.form-order form > textarea{
background: #F2F2F2;
    border: 1px solid #E0E0E0;
    padding: 10px;
    padding-left: 0;
    border-radius: 5px;
    margin-bottom: 15px;

}

.form-order_total{
	margin: 0;
	padding: 0;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid var(--main-color);
}

.form-order_total li{
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
}

.form-order_total li > p{
margin: 0;
padding: 0;
margin: 5px 0;
margin-left: 5px;
}

.form-order_total li > span{
font-family: "Roboto-Bold";
font-size: 17px;
 color: #4d4d4d; 
}

.form-order_total li > span:after{
 content: "₸";
  padding-left: 5px;
}

.form-order_checbox .custom-checkbox{
	margin: 25px 0 7px;
}

.form-order_checbox .custom-checkbox label{
	padding-left: 20px;
	font-size: 14px;
	color: var(--main-color);
}

.form-order_checbox p{
font-size: 12px;
color: #828282;
}

.form-order_checbox p > a{
color:#828282;
text-decoration: underline;
}

.form-order-btn{
	margin-top: 10px;
	width: 100%;
	padding: 10px 0;
	font-size: 17px;	
	border-radius: 5px;
	border:1px solid var(--main-color);
	background-color: var(--main-color);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s ease-out;
}

.form-order-btn:hover{
 background-color: var( --main-hover-color);
}

.order-box{
	margin-top: 40px;
}
.delete-all{
	display: flex;
	justify-content:flex-end;
	margin-bottom: 10px;
}
.delete-all a{

	 color: #4d4d4d; 
	 font-size: 13px;
	 display: flex;
	 align-items: center;
}

.delete-all a img{
width: 15px;
margin-right: 5px;
height: 15px;
}

.delete-all:hover{
color: #4d4d4d;
}
.order-box .form-title{
	margin-bottom: 0;
}
.order-box_goods{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	max-height: 830px;
	overflow-y: auto;
}

.order-box_goods li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #CCCCCC;
}

.order-product-info{
	display: flex;
	align-items: center;
}

.order-product-info .img{
  width: 50px;
  padding-right: 10px;
}
.order-product-info .img img{ 
	width: 100%;
	object-fit: contain;
}

.order-product-info .content a{
 color: #4d4d4d; 
 font-size: 14px;
 text-decoration: underline;
}

.order-product-info .content p{
	font-size: 13px;
	margin: 0;
	padding: 0;
	color: 
}

.order-box_goods li .box-products-list_close{
background-color: transparent;
border: none;
}
.order-box_goods li .box-products-list_close img{
	width: 20px;
	height: 20px;
}

.order-box_goods .popular-product__btn-number span{
	font-size: 13px;
	padding-right: 5px;
}

.order-box_price span{
font-size: 14px;
}

.order-box_price span b{
font-weight: normal;
}
.order-box_price{
	text-align: right;
}
.order-box_price span b:after{
 content: "₸";
  padding-left: 3px;
}


.order-box_price h3{
font-size: 17px;
	font-family: "Roboto-Bold";
}

.order-box_price h3:after{
 content: "₸";
  padding-left: 3px;
  font-weight: bold;
}

.order-box-goods_price {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 10px;
}

.order-box-goods_price div{
	display: flex;
}
.order-box-goods_price div p{
font-size: 15px;
color: #4d4d4d; 
margin: 0;
margin-right: 10px;
}

.order-box-goods_price div h3{
font-size: 18px;
color: #000;
font-family: "Roboto-Bold";
}

.order-box-goods_price div h3:after{
 content: "₸";
  padding-left: 3px;
  font-weight: bold;
}

.form-order_total li:last-child p{
font-family: "Roboto-Bold";
}
/*mobile*/
@media screen and (max-width: 768px) {
	.order-product-info .content a{
    font-size: 12px;
    line-height: 10px;
	}
	.order-product-info .content p{
		font-size: 12px;
	}
	.order-box_goods .popular-product__btn-number span{
		font-size: 12px;
	}
	.order-product-info .img{
		width: 40px;
	}
	.order-box_goods li .popular-product__btn-number [type="button"]{
padding: 0px 4px;
	}
	.order-box_goods li .popular-product__btn-number [type="text"]{
		width: 15px;
	}
	.order-box_price span{
		font-size: 12px;
	}
}

.form-order form > label > span{
	    font-size: 14px;
    font-weight: normal;
    line-height: 0;
    /*margin: 0 0 0 4px;*/
    position: relative;
    color: #e62222;
}