.follow-me_instagram{
position: fixed;
 top: 13%;
 left: 90%;
 transform: translate(-50%, -50%);
 z-index: 20;
 width: 220px;
}


.follow-me_instagram-content{
	background-color: #F2C94C;
      position: relative;
	border-radius: 10px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	 transition: all .3s ease-out;
	 display: none;
 transform-origin:left;
}

.follow-me_instagram-active{
	display: block;
  animation:instagramActive  .5s linear 1;
  transform-origin:left;
}


@keyframes  instagramActive{
 0% {
 transform: scaleX(0);
 }
 50% {
transform: scaleX(.5);
 }
 100% {
transform: scaleX(1);
 }
}


.follow-me_instagram-content img{
 position: absolute;
 width: 8px;
 height: 8px;
 right: 7px;
 top: 8px;
 cursor: pointer;
}
.follow-me_instagram-content p{
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: right;
padding: 12px;
padding-right:  18px;
color: #000000;
}

.follow-me_instagram-content p > a{
color: #000000;
text-decoration: underline;	
cursor: pointer;
}


@media screen and (max-width: 768px){
	.follow-me_instagram{
	left: auto; 
    right: 5px;
    transform: none;
    width: 300px;
	}

	.follow-me_instagram-content p{
		font-size: 16px;	
		line-height: 16px;
	}
	.follow-me_instagram-content img{
		width: 15px;
		height: 15px;
	}
	.follow-me_instagram-content p{
		padding: 20px;
		padding-right: 30px;
	}

}

.fast-order{
	position: fixed;
	top: 0;
	z-index: 22;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.fast-order-visible{
	display: flex;
}


.fast-order-form{
	background-color: #fff;
	display: flex;
	position: relative;
	border-radius: 5px;
	flex-direction: column;
	padding: 20px;
	width:35%;
}
.fast-order-form form{
  display: flex;
  flex-direction: column;
}
.close-fast-order{
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: transparent;
	border: none;
}
.close-fast-order img{
  width: 18px;
  height: 18px;
}

.fast-order-form h1{
	font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #000000;
margin-bottom: 20px;
}

.fast-order-form form label{ 
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
margin-bottom: 5px;
color: #000000;

}

.fast-order-form form input,
.fast-order-form form textarea{
background: #F2F2F2;
border: 1px solid #E0E0E0;
padding: 10px;
border-radius: 5px;
margin-bottom: 15px;
}

.fast-order-form form textarea{
	height: 150px;
	overflow-y: auto;
	padding: 5px;
}
.fast-order-form form button{
	background-color: var(--main-color);
	border: none;
	border-radius: 5px;
	color: #fff;
	padding:10px 0;
	transition: all .3s ease-out;
}
.fast-order-form form button:hover{
   background-color: var( --main-hover-color);
}
@media screen and (max-width: 768px){
	.fast-order-form{
		max-width: 100%;
		width: 100%;
	}
}

/*welcome*/
.fast-order-form_welcome{
	background-color: #fff;
	display: flex;
	position: relative;
	border-radius: 5px;
	flex-direction: column;
	
}
.fast-order-form_welcome form{
  display: flex;
  flex-direction: column;
}


.fast-order-form_welcome h1{
font-style: normal;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
}

.fast-order-form_welcome form label{ 
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 21px;
margin-bottom: 5px;
color: #000000;

}

.fast-order-form_welcome form input,
.fast-order-form_welcome form textarea{
    border: 1px solid #E0E0E0;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
}

.fast-order-form_welcome form textarea{
	height: 150px;
	overflow-y: auto;
	padding: 5px;
}
.fast-order-form_welcome form button{
	background-color: var(--main-color);
	border: none;
	border-radius: 5px;
	color: #fff;
	padding:5px 0;
	transition: all .3s ease-out;
}
.fast-order-form_welcome form button:hover{
   background-color: var( --main-hover-color);
}
@media screen and (max-width: 768px){
	.fast-order-form_welcome{
		max-width: 100%;
		margin-bottom: 30px;
	}
}
.categories-mobile{
display:none;
}
@media screen and (max-width: 768px){
.categories-slide .col-md-3 {
order:1;
}
	.categories-slide .col-md-3 > .categories{
	display:none;
	}
.categories-slide .col-md-9 {
order:2;
}
	.categories-mobile{
	order:3;
		display:block;
	}
}

.size_product p:before{
content:'Размер:';
	color:#000;
	padding-right:10px;
}

.amount_product p:before{
content:'Количество:';
color:#000;
	padding-right:10px;
}

.product-more-info_list ul{
    padding: 0;
}