.user_data{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	padding: 20px;
	    box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
}

.user_data-name{
margin: 0;
margin-bottom: 5px;
font-size: 18px;
margin-bottom: 15px;
font-family: "Roboto-Black";
}

.user_data-title{
	margin: 0;
	padding: 0;
	font-size: 14px;
    color: #747474;
	font-family: "Roboto-Medium";
	margin-bottom: 5px;


}

.user_data-info{
color: #4cd964;
font-size: 16px;
 font-family: "Roboto-Bold";
 word-wrap:break-word;
margin-bottom: 20px;
  background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  background-clip: text;
  color: transparent;
   text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

}

.user_data-btn{
font-size: 14px;
color: #000;
border:1px solid var(--main-color);
border-radius: 5px;
text-align: center;
padding: 5px 0;
font-family: "Roboto-Medium";
}

.user_data-btn:hover{
text-decoration: none;
color: #fff;
background-color:  var( --main-hover-color);
}

.user_data-bonus{
	margin-top: 15px;
	background-color:  var(--main-color);
	color: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	padding: 20px;
	    box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
}

.user_data-bonus h1{
font-size: 22px;
font-family: "Roboto-Black";
}

.user_data-bonus-info{
	display: flex;

}

.user_data-bonus-info p{
font-size: 16px;
padding-right: 10px;
font-family: "Roboto-Bold";

}
.user_data-bonus-info span{
font-size: 14px;
font-family: "Roboto-Medium";

}

.user_data-bonus p {
margin: 0;
margin-bottom: 5px;
font-size: 13px;
}
.user_data-bonus > .user_data-bonus-info > p{
font-size: 14px;
margin: 0;
margin-bottom: 5px;
}

.user_data-bonus p > b{
color: #F2C91E;
font-weight: normal;
font-size: 16px;
font-family: "Roboto-Black";
}

.personal_area-products{
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
	border-radius: 7px;
	    min-height: 445px;
}

.nav-tabs-personal_area{
	border: none;
	margin-bottom: 15px;
}

.nav-link-personal_area{
	border: none;
	margin-right: 15px;
	border-radius: 5px;
	border-color: transparent;
color:#4F4F4F;
	transition: box-shadow .5s ease-out;
	padding: 10px 15px;
}
.nav-link-personal_area img{
margin-left: 5px;
}
.nav-link-personal_area:hover{
	border-color: transparent;
	color:#4F4F4F;
  box-shadow: 0px 0px 6px 0px #2F80ED;
}


.nav-tabs .nav-link-personal_area.active{
	font-size: 16px;
color: #4F4F4F;
border-radius: 5px;
text-align: center;
padding: 10px 15px;
border-color: transparent;
border:1px solid var(--main-color);
font-family: "Roboto-Medium";
}

.personal_area-products-table .order-box{
	margin: 0;
}
.personal_area_price p{
font-size: 14px;
}
.personal_area_price p > b{
	font-weight: normal;
}
.personal_area_price p > b:nth-child(1)::after{
content: "шт";
padding-left: 3px;
}

.personal_area_price p > b:nth-child(2)::after{
content: "₸";
padding-left: 3px;
}

.personal_area_data p{
	 margin: 0;
    padding: 0;
    font-size: 14px;
    color: #747474;
    font-family: "Roboto-Medium";
    margin-bottom: 5px;
}

.personal_area_data p:after{
content: 'г.';
padding-left: 5px;
}

.personal_area-products-table{
    overflow-y: auto;	

}
.tab-personal_area h1{
font-size: 16px;
margin: 0;
margin-bottom: 10px;
  font-family: "Roboto-Medium";
padding-left: 10px;
margin: 0;
margin-bottom: 5px;
}

.tab-personal_area p{
	font-size: 15px;
	padding-left: 10px;
	margin: 0;
 color:#4F4F4F;
 margin-bottom: 5px;
}

.btn-box_favourite{
	background-color: var(--main-color);
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    transition: all .3s ease-out;
}
.btn-box_favourite:hover{
background-color:var( --main-hover-color);
}
.btn-box_favourite img{
    padding-right: 8px;
}

.personal_area-favourite-table{
  max-height: 271px;
  max-height: 500px;
    overflow-y: auto;
}
  
.personal_area-favourite-table .order-box{
	margin: 0;
}

/*mobile*/
@media screen and (max-width: 768px) {
	.btn-box_favourite{
		padding: 4px 3px;
		  font-size: 14px;
	}
	.btn-box_favourite img{
  display: none;
}
.personal_area-favourite-table li .popular-product__btn-number [type="button"]{
    padding: 0px 10px;
}
.personal_area-products-table{
max-height: 400px;
}
.personal_area-favourite-table{
  max-height: 400px;
  }

}

.order-personal-area_links{
    display: block;
    margin: 0;
    padding: 0;
    max-height: 250px;
    padding: 0 10px;
    overflow-y: auto;
    border: 1px solid #EDEEF0;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.personal-area_order-block{
	margin-top: 20px;
	margin-bottom: 20px;
}

.personal-area_order-block-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #EDEEF0;
	padding: 15px 10px;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

}

.personal-area_order-block-title:hover{
text-decoration: none;
}
.personal-area_order-block-title .title,
.personal-area_order-block-title  .status,
.personal-area_order-block-title  .data { 
  color: #383838;
    font-size: 16px;
    margin: 0;
    font-family: "Roboto-Medium";
        color: #747474;

}

.personal-area_order-block-title .title  > b,
.personal-area_order-block-title  .status  > b,
.personal-area_order-block-title  .data > b{ 
font-weight: normal;
font-family: "Roboto";
color: #333333;
 font-size: 16px;
}

.personal-area_order-block-title  .status  > b.success{
color: #3AC34F;
}

.personal-area_order-block-title  .status  > b.expectations{
color: #FF6D00;
padding-left: 5px;
}

.panel{
	margin-bottom: 15px;
}