.popular-products h1{
font-style: normal;
font-family: "Roboto-Bold";
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #000000;
margin-top: 30px;
margin-bottom: 20px;
}

.popular-product{
	border: 1px solid #E0E0E0;
	width: 100%;
   padding: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.favorite-product{
	position: absolute;
	cursor: pointer;	
	top: 8px;
	right: 8px;	
	width: 20px;
	height: 20px;
     background-image: url('../../img/favorite.svg');
       background-repeat:no-repeat;
       background-position:center center;
         background-size:contain;
}

.favorite-product--active{
  background-image: url('../../img/favorite-active.svg');
}

.popular-product__img{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.popular-product__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1.popular-product__title{
font-family: "Roboto-Medium";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;
margin: 0;
margin-bottom: 10px;
color: #000000;
}
.popular-product__price{
		text-align: center;
}
.popular-product__price span{
	font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;
}

.popular-product__price span:after{
 content: '₸';
 padding-left: 5px;
}

.popular-product__price b{
	font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 11px;
text-align: center;
color: #000000;
}

.popular-product_btns{
	display: flex;
	align-items:center;
	justify-content: center;
	margin-top: 15px;

}

.popular-product__btn-number{
	display: flex;
	margin-right: 5px;
}

.popular-product__btn-number [type="button"]{
background: #E5E5E5;
border-radius: 5px;
border: none;
padding: 0 7px;
}

.popular-product__btn-number [type="text"]{
background: transparent;
border-radius: 5px;
font-size: 15px;
border: none;
text-align: center;
    width: 30px;
}

.btn-box_product{
	background-color: var(--main-color);
	padding: 9px 5px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    color: #fff;
    font-size: 14px;
    line-height: 16px;
     display: flex;
    align-items: center;	
    transition: all .3s ease-out;
  }

  .btn-box_product:hover{
  background-color:var( --main-hover-color);
  color: #fff;
  }

  .col-product{
  	padding-left: 5px;
  	padding-right: 5px;
  }

/*mobile*/
@media screen and (max-width: 768px) {
	.col-product {
    padding-left: 20px;
    padding-right: 20px;
}
.favorite-product{
	width: 30px;
	height: 30px;
	top: 10px;
    right: 15px;
}
.btn-box_product{
	padding: 9px 15px;
}
.popular-product__btn-number [type="button"]{
	padding: 0px 10px;
	height: inherit !important;
    font-size: inherit !important;
    width: inherit !important;
}
.popular-product__btn-number [type="text"]{
text-align: center;
    width: 40px;	
}
	
}

@media screen and (max-width: 375px) {
.logo a > img{
	    width: 80px;
	}
}