.product-img{
	width: 100%;
	height: 200px;
	margin-top: 40px;
}

.product-img img{
width: 100%;
height: 100%;
object-fit: contain;
}

.product-characteristic{
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	margin-bottom: 40px;
}

.product-characteristic h1{
font-size: 20px;
color: #4d4d4d;
}
.product-characteristic h6{
margin-bottom: 10px;
    font-size: 14px;
    color: #4d4d4d;
}

.product-more_info h3{
	    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.product-presence {
	display: flex;
	align-items: center;
	font-size: 15px;
	margin: 10px 0 20px;
}

.product-presence img{
width: 20px;
height: 20px;
margin-right: 10px;
}

.product-more-info_list{
	transition: all .3s ease;
	overflow: hidden;
    /*height: 130px;*/
	    min-height: 100%;

}
.product-more-info_list-visible{
height: auto;
}
.product-more-info_list li{
display: flex;
list-style: none;
}

.product-more-info_list li p{
	width: 40%;
	font-size: 14px;
	text-align: left;
	    color: #919191;
padding-bottom: 5px;
	margin: 0;

}

.product-more-info_list li span{
	width: 60%;
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding-bottom: 5px;
	/*padding: 2px 5px;*/
}

.product-more-info_list li span a{
color: var(--main-color);
text-decoration: underline;
}

.show-more-characteristic{
	background-color: transparent;
	border: none;
	font-size: 13px;
	padding: 0;
	text-decoration: underline;
}

/*mobile*/
@media screen and (max-width: 768px) {
	.product-more-info_list li span{
		width: 40%;
	}
	.product-more-info_list li p{
		width: 60%;
	}
}

.recommend-title h1{
	font-size: 24px;
	font-family: "Roboto-Bold";
	margin: 40px 0;

}

.nav-tabs .nav-link-product{
	color: #000;
	font-size: 16px;
	border: none;
	/*margin: 0 5px;*/
	border-bottom: 3px solid #F2F2F2;
}

.nav-tabs .nav-link-product.active{
  border-color: var(--main-color);
  color: var(--main-color);
}
.nav-tabs-products{
	border: none;
}
.tab-product{
	padding-top: 20px;
}
.tab-product p{
	font-size: 15px;

}

.tab-product h1{
	font-size: 18px;
	font-weight: bold;

}

.product-characteristi-number{
	justify-content: flex-start;
}

.product-characteristi-number span{
  font-size: 15px;
  padding-right: 10px;
}

.btn-box_product{
	margin-left: 10px;
}
.btn-box_product img{
	padding-right: 8px;
	padding-left: 8px;
}

.product-characteristic-price{
	display: flex;
	align-items: baseline;
	margin-top: 20px;
	color: #868686;
}

.product-characteristic-price span{
	font-size: 16px;
	padding-right: 10px;
	color: #000;
}

.product-characteristic-price p{
	font-size: 26px;
	font-family: "Roboto-Bold";
	color: var(--main-color);
}

.product-characteristic-price p:after{
  content: "₸";
  padding-left: 5px;
  font-family: "Roboto-Bold";
  font-weight: bold;
  font-size: 16px;
  color: var(--main-color);
  padding-right: 10px;

}

.product-characteristic-price   b{
  font-weight: normal;
  padding-left: 10px;
  font-size: 20px;
  color: #868686;
}
.product-characteristi-number .popular-product__btn-number input[type="button"]{
padding: 5px 15px;

}

.owl-carousel-recommend .owl-nav .owl-prev{
margin-left: -20px;
background-color: transparent !important;
display: flex;
justify-content: center;
align-items: center;
}
.owl-carousel-recommend .owl-nav .owl-next{
margin-right: -40px;
background-color: transparent !important;
display: flex;
justify-content: center;
align-items: center;
}
.owl-carousel-recommend .owl-nav{
bottom: inherit;
width: 100%;
display: flex;
justify-content: space-between;
top: 50%;
transform: translateY(-50%);
}

.owl-carousel-recommend .owl-nav .owl-next:after{
content: url(../../img/back.svg);
    position: absolute;
 right:  2px;
 top: -2px;
  transform: rotate(180deg);
}

.owl-carousel-recommend .owl-nav .owl-prev:after{
content: url(../../img/back.svg);
    position: relative;
    position: absolute;
 left:  2px;
 top: 5px;
    transform: rotate(0deg);
}

@media screen and (max-width: 768px){
.owl-carousel-recommend .owl-nav{
	display: none;
}
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #D0D0D0;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: var(--main-color);
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

#recommend-slider{
	margin-bottom: 40px;

}

.breadcrumbs{
	margin: 20px 0 10px;
	padding: 0;
	display: flex;
}

.breadcrumbs li {
	display: flex;
	align-items:center;
	margin-right: 10px;
}

.breadcrumbs li:after {
content: url('../../img/arr_bread.svg');
padding-left: 10px;

}

.breadcrumbs li:last-child::after {
display: none;
}
.breadcrumbs li > a {
	display: flex;
	justify-content: center;
}
.breadcrumbs li >  a > img{
width: 15px;
height: 15px;
margin-right: 10px;
}
.breadcrumbs li a{
font-size: 12px;
color: #4d4d4d;
}

.breadcrumbs li > span{
	color: var(--main-color);
	font-size: 12px;
}

@media screen and (max-width: 768px){
.breadcrumbs{
	flex-wrap: wrap;
	margin-top: 50px;

}
.breadcrumbs li{
	padding-bottom: 7px;
}
}
.amount_product p > b{
padding-left:5px;
	font-weight:normal;
}

.product-characteristic-price-wrap{
	display: flex;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-characteristic-price{
	    margin: 0;
}

.product-characteristic-price p{
	    margin: 0;
}

.product-characteristic-price_size{
	margin: 0;
    margin-top: auto;
    margin-bottom: 5px;
}


















