.register{
	margin-top: 15px;
	margin-bottom: 40px;
	    box-shadow: 0px 0px 6px 0px rgba(211,211,211,0.68);
	    border-radius: 7px;
	    padding: 20px;
        border-top: 5px solid #2F80ED;
	    padding-top: 25px;
	    padding-bottom: 40px;
}
.register-title{
    font-family: "Roboto-Bold";
	font-size: 22px;
    margin: 0px 0 15px;
    font-weight: bold;
    line-height: 1.33;
    color: #292c3d;

}

.register-text{
    line-height: 23px;
    color: #292c3d;
    font-size: 14px;
    margin-bottom: 30px;
}
.register-form{

}
.register-form_item{
	    margin-bottom: 20px;
	    display: flex;
    flex-direction: column;
}
.register-form_item label{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #888a91;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    }

.register-form_item input{
	height: 45px;
    min-height: 45px;
    padding: 10px 14px;
    font-size: 16px;
    line-height: 20px;
    color: #292c3d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #e3e5e6;
    background-color: #fafbfb;
    font-weight: normal;
    resize: vertical;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.register-form_item .form_error{
	color: #FF445D;
    font-size: 15px;
    margin: 0.6rem 0;
    display: none;
}
  
.register-form .link-activate{
    display: inline-block;
    border-bottom: 1px dashed #0079C1;
    color: #0079C1;
    font-size: 14px;
    line-height: 1.43;
    margin-right: 10px;
}
.register-form .link-activate:hover{
text-decoration: none;
}
.register-form-btn{
	margin-top: 30px;
	color: #fff;
    background-color: var(--main-color);
    position: relative;
    font-size: 14px;
    letter-spacing: .9px;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    padding: 12px 19px;
    border-radius: 4px;
    outline: 0;
    transition: all .35s ease-in-out;
    border: 1px solid transparent;
    display: block;
    border-color:var(--main-color);
    min-width: 160px;
}

.register-form-btn:hover{
   background-color:  var( --main-hover-color);
}

@media screen and (max-width: 768px){
.row-mobile_order .col-md-3 {
order: 2;
}
}

.recovery-form-btn{
	    background-color: #E5E5E5;
    color: #777777;
    border-color: #E5E5E5;
   /* width: 100%;*/
}

.recovery-form-btn:hover{
color: #fff;
background-color: #BBBBBB;
}

.register-checkbox label{
font-size: 14px;
margin-top: 10px;
margin-bottom: 20px !important;
 color: #62646B;
}